@charset "euc-kr";
/*@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
*/
/* Chrome, Safari용 스크롤 바 */
/*::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: #efefef}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}
*/

.visible-xs,
.visible-tb-xs,
.visible-inline-xs{display: none !important}
.visible-lg{display: block !important}
.visible-inline-lg{display: inline !important}
.visible-inb-lg{display: inline-block !important}
.visible-tb{display:table !important}

.board-line{
	border-bottom: 0;
}
.bgNon{background:none !important;}
.brbNon{border-bottom:none !important;}
.brTNon{border-top:none !important;}
.brLNon{border-left:none !important;}
.brRNon{border-right:none !important;}
.mask,
.mask-gnb,
.mask-gnb-mobile{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99995;
}
.block{
 display: block;
}
.overflow{
  position: fixed;
  overflow: hidden;
  width: 100%;
}
@media(max-width: 780px){
  .mask-gnb{
    display: none !important;
  }
}
@media(min-width: 781px){
  .mask-gnb-mobile{
    display: none !important;
  }
}
.sr-only {
  overflow:hidden;
  position: absolute;
  top:0;
  left:0;
  border:none;
  clip:rect(0,0,0,0);
  width:1px;
  height: 1px;
  margin: -1px;
}
caption {
  overflow:hidden;
  border:none;
  clip:rect(0,0,0,0);
  width:0;
  height: 0;
  margin: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: #727272;
  text-decoration: none;
  font-size: 12px;
  font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',sans-serif;
  line-height: 1;
  font-style: normal;
}
a:hover {color: #1e96c4;}
a {background:transparent; color:inherit; text-decoration:none;}
a:focus {outline: 1px dotted #000;}
a:active, a:hover, a:focus  {text-decoration:none; }

table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  color: #727272;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
table th,
table td {
  border-bottom: 1px solid #eee;
}


input {
  vertical-align: middle;
  padding: 0;
  margin: 0;
  font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  letter-spacing:-1px;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
  height: 32px;
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px 6px 5px 6px;
  color: #6e7476;
}
input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin-bottom: 1px;
}
select {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background-color:transparent;
  border:none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',sans-serif;
}
::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
   opacity:1;
   color: #b8b8b8;
}

h1, h2, h3, h4, h5, h6{
  font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',sans-serif;
}

/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* font style */
.font-si{font-size:inherit !important;}
.font-wb{font-weight:bold !important;font-size:inherit}
.font-wn{font-weight:normal !important;}
.font-16{font-size: 16px !important !important;}
.font-dark{color: #333 !important;}
.font-dark-b{color: #333; font-weight: bold !important;}
.font-blue{color: #2199d5 !important;}
.font-orange{color: #e1681a !important;}
.font-red{color: #ee2626 !important;}
.font-blue-b{color: #2199d5 !important; font-weight: bold !important;}
.font-orange-b{color: #e1681a !important;font-weight: bold !important;}
/* Hand cursor on clickable controls */
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
label,
button {
  cursor: pointer;
  font-size:inherit;
}
embed {
  display: block;
}
.tdu {
  text-decoration:underline;
  font-size:inherit;
}
.row {
  width: 100%;
  clear: both;
  margin-top: 10px;
  overflow: hidden;
}
.row:first-child {
  margin-top: 0;
}
.left-area {
  float: left;
}
.right-area {
  float: right;
}
/* margin */
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt50 {margin-top:50px !important;}
.mr20 {margin-right:20px !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.mb10 {margin-bottom:10px !important;}
.pd10 {padding:10px !important;}
.pd20 {padding:20px !important;}
.pd0 {padding:0 !important;}

.pt0 {padding-top:0 !important;}
.pl8 {padding-left:8px;}
.pl22 {padding-left:22px !important;}
.pl30 {padding-left:30px !important;}

/* align */
.ac {text-align: center !important;}
.al {text-align: left !important;}
.ar {text-align: right !important;}
.txtL {text-align:left;}
.txtR {text-align:right;}
.txtC {text-align:center;}

/* valign */
.vat {vertical-align:top !important;}
.vam {vertical-align:middle !important;}
.vab {vertical-align:bottom !important;}

/* WIDTH */
.iw-750 {
  width: 750px !important;
}
@media(max-width:780px){
  .iw-750 {
  	width: 100% !important;
  }
}
.iw-745 {
  width: 745px !important;
}
.iw-740 {
  width: 740px !important;
}
.iw-735 {
  width: 735px !important;
}
.iw-730 {
  width: 730px !important;
}
.iw-725 {
  width: 725px !important;
}
.iw-720 {
  width: 720px !important;
}
.iw-715 {
  width: 715px !important;
}
.iw-710 {
  width: 710px !important;
}
.iw-705 {
  width: 705px !important;
}
.iw-700 {
  width: 700px !important;
}
.iw-695 {
  width: 695px !important;
}
.iw-690 {
  width: 690px !important;
}
.iw-685 {
  width: 685px !important;
}
.iw-680 {
  width: 680px !important;
}
.iw-675 {
  width: 675px !important;
}
.iw-670 {
  width: 670px !important;
}
.iw-665 {
  width: 665px !important;
}
.iw-660 {
  width: 660px !important;
}
.iw-655 {
  width: 655px !important;
}
.iw-650 {
  width: 650px !important;
}
.iw-645 {
  width: 645px !important;
}
.iw-640 {
  width: 640px !important;
}
.iw-635 {
  width: 635px !important;
}
.iw-630 {
  width: 630px !important;
}
.iw-625 {
  width: 625px !important;
}
.iw-620 {
  width: 620px !important;
}
.iw-615 {
  width: 615px !important;
}
.iw-610 {
  width: 610px !important;
}
.iw-605 {
  width: 605px !important;
}
.iw-600 {
  width: 600px !important;
}
.iw-595 {
  width: 595px !important;
}
.iw-590 {
  width: 590px !important;
}
.iw-585 {
  width: 585px !important;
}
.iw-580 {
  width: 580px !important;
}
.iw-575 {
  width: 575px !important;
}
.iw-570 {
  width: 570px !important;
}
.iw-565 {
  width: 565px !important;
}
.iw-560 {
  width: 560px !important;
}
.iw-555 {
  width: 555px !important;
}
.iw-550 {
  width: 550px !important;
}
.iw-545 {
  width: 545px !important;
}
.iw-540 {
  width: 540px !important;
}
.iw-535 {
  width: 535px !important;
}
.iw-530 {
  width: 530px !important;
}
.iw-525 {
  width: 525px !important;
}
.iw-520 {
  width: 520px !important;
}
.iw-515 {
  width: 515px !important;
}
.iw-510 {
  width: 510px !important;
}
.iw-505 {
  width: 505px !important;
}
.iw-500 {
  width: 500px !important;
}
.iw-495 {
  width: 495px !important;
}
.iw-490 {
  width: 490px !important;
}
.iw-485 {
  width: 485px !important;
}
.iw-480 {
  width: 480px !important;
}
.iw-475 {
  width: 475px !important;
}
.iw-470 {
  width: 470px !important;
}
.iw-465 {
  width: 465px !important;
}
.iw-460 {
  width: 460px !important;
}
.iw-455 {
  width: 455px !important;
}
.iw-450 {
  width: 450px !important;
}
.iw-445 {
  width: 445px !important;
}
.iw-440 {
  width: 440px !important;
}
.iw-435 {
  width: 435px !important;
}
.iw-430 {
  width: 430px !important;
}
.iw-425 {
  width: 425px !important;
}
.iw-420 {
  width: 420px !important;
}
.iw-415 {
  width: 415px !important;
}
.iw-410 {
  width: 410px !important;
}
.iw-405 {
  width: 405px !important;
}
.iw-400 {
  width: 400px !important;
}
.iw-395 {
  width: 395px !important;
}
.iw-390 {
  width: 390px !important;
}
.iw-385 {
  width: 385px !important;
}
.iw-380 {
  width: 380px !important;
}
.iw-375 {
  width: 375px !important;
}
.iw-370 {
  width: 370px !important;
}
.iw-365 {
  width: 365px !important;
}
.iw-360 {
  width: 360px !important;
}
.iw-355 {
  width: 355px !important;
}
.iw-350 {
  width: 350px !important;
}
.iw-345 {
  width: 345px !important;
}
.iw-340 {
  width: 340px !important;
}
.iw-335 {
  width: 335px !important;
}
.iw-330 {
  width: 330px !important;
}
.iw-325 {
  width: 325px !important;
}
.iw-320 {
  width: 320px !important;
}
.iw-315 {
  width: 315px !important;
}
.iw-310 {
  width: 310px !important;
}
.iw-305 {
  width: 305px !important;
}
.iw-300 {
  width: 300px !important;
}
.iw-295 {
  width: 295px !important;
}
.iw-290 {
  width: 290px !important;
}
.iw-285 {
  width: 285px !important;
}
.iw-280 {
  width: 280px !important;
}
.iw-275 {
  width: 275px !important;
}
.iw-270 {
  width: 270px !important;
}
.iw-265 {
  width: 265px !important;
}
.iw-260 {
  width: 260px !important;
}
.iw-255 {
  width: 255px !important;
}
.iw-250 {
  width: 250px !important;
}
.iw-245 {
  width: 245px !important;
}
.iw-240 {
  width: 240px !important;
}
.iw-235 {
  width: 235px !important;
}
.iw-230 {
  width: 230px !important;
}
.iw-225 {
  width: 225px !important;
}
.iw-220 {
  width: 220px !important;
}
.iw-215 {
  width: 215px !important;
}
.iw-210 {
  width: 210px !important;
}
.iw-205 {
  width: 205px !important;
}
.iw-200 {
  width: 200px !important;
}
.iw-195 {
  width: 195px !important;
}
.iw-190 {
  width: 190px !important;
}
.iw-185 {
  width: 185px !important;
}
.iw-180 {
  width: 180px !important;
}
.iw-175 {
  width: 175px !important;
}
.iw-714 {
  width: 714px !important;
}
.iw-170 {
  width: 170px !important;
}
.iw-165 {
  width: 165px !important;
}
.iw-160 {
  width: 160px !important;
}
.iw-155 {
  width: 155px !important;
}
.iw-150 {
  width: 150px !important;
}
.iw-148 {
  width: 148px !important;
}
.iw-145 {
  width: 145px !important;
}
.iw-140 {
  width: 140px !important;
}
.iw-135 {
  width: 135px !important;
}
.iw-130 {
  width: 130px !important;
}
.iw-127 {
  width: 127px !important;
}
.iw-125 {
  width: 125px !important;
}
.iw-120 {
  width: 120px !important;
}
.iw-115 {
  width: 115px !important;
}
.iw-110 {
  width: 110px !important;
}
.iw-105 {
  width: 105px !important;
}
.iw-100 {
  width: 100px !important;
}
.iw-95 {
  width: 95px !important;
}
.iw-90 {
  width: 90px !important;
}
.iw-85 {
  width: 85px !important;
}
.iw-80 {
  width: 80px !important;
}
.iw-75 {
  width: 75px !important;
}
.iw-70 {
  width: 70px !important;
}
.iw-65 {
  width: 65px !important;
}
.iw-60 {
  width: 60px !important;
}
.iw-55 {
  width: 55px !important;
}
.iw-25 {
  width: 25px !important;
}
.miw-49{
  width: 49% !important;
}
.miw-50{
  width: 50% !important;
}
span[class^=iw-],
strong[class^=iw-] {
  display:inline-block;
  text-align:center;
}
span[class^=iw-].tdu,
strong[class^=iw-].tdu {
  border-bottom:1px solid #333;
  color:#333;
  text-decoration:none;
}

.borderdiv50{
  margin-bottom: 50px;
}
.borderdiv100{
  margin-bottom: 100px;
}
.no_border{
  border: none !important;
}
.no_topborder{
  border-top: none !important;
}
.no_botborder{
  border-bottom: none !important;
}
.no_ltborder{
  border-left: none !important;
}
.no_rtborder{
  border-right: none !important;
}
.borderonly th{
  font-size:13px;
  padding:10px 5px;
  background:#e4eaed;
  text-align:center;
}
.borderonly td,
.borderonly th{
  border:1px #dcdcdc solid;
}
.borderonly td{
  font-size:12px;
  padding:5px;
}

/*멤버십 고도화*/
.ms-main-term-evt{
  z-index:200000;
  background: url(../images/certificate_popup.png) 0 0 no-repeat;
  width: 636px;
  /*float: right;
  padding-top: 15px;
  padding-left: 550px;*/
  height: 487px;
  bottom: 100px;
  right: -5px;
  position: absolute;
}

.ms-main-term-evt .close{
  position: absolute;
  top: 25px;
  right: 25px;
}

.ms-main-term-evt .join{
  position: absolute;
  left:203px;
  top: 399px;
}
._select {
  display:inline-block;
  position: relative;
  background: #ffffff url(../images/selectbox_normal_bg.png) right 0 no-repeat;
  height: 32px;
  border-top: 1px #dcdcdc solid;
  border-left: 1px #dcdcdc solid;
  border-bottom: 1px #dcdcdc solid;
  width: 175px;
  background-size: 30px;
}
._select label {
  position: absolute;
  color: #666;
  left: 10px;
  font-size: 14px;
  top: 7px;
  color:#6e7476;
}
._select select {
  width: 100%;
  padding: 0 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  height: 30px;
  color:#6e7476;
}
._select select option {
  font-size: 14px;
}

/* checkbox, radio */
.checkwrap {position: relative;font-size:0;}
.checkwrap input[type="checkbox"]{
  position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip:rect(0,0,0,0);
   border: 0
}
.checkwrap input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-right: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 14px;
}
.checkwrap input[type="checkbox"] + label:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: -2px 6px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ccc;
}
.checkwrap input[type="checkbox"] + label:active:before,
.checkwrap input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkwrap input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */
  content: ' ';
  color: #1d96c3;
  text-shadow: 1px 1px #1d96c3;
  background: #fff  url(../images/ico_check.png) center no-repeat;
  border-color: #ccc;
}
.checkwrap input[type="checkbox"]:disabled + label:before {  /* 체크박스가 disabled일때 */
  content: '\2714';
  color: #ccc;
  text-shadow: 1px 1px #ccc;
  background: #ededed;
  border-color: #ccc;
}

.checkwrap input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.checkwrap input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 14px;
  line-height:24px;
  vertical-align:middle;
}
.checkwrap input[type="radio"] + label.notxt {
  width: 24px;
  height: 24px;
  padding-left: 0;
  padding-right: 0;
  font-size: 0;
}
.checkwrap input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-top:-12px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 100%;
}
.checkwrap input[type="radio"] + label:active:before,
.checkwrap input[type="radio"]:checked + label:active:before  {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkwrap input[type="radio"]:checked + label:before {
  background: #fff;
  border-color: #ccc;
}
.checkwrap input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  width: 12px;
  height: 12px;
  margin-top:-6px;
  background: #1d96c3;
  border-radius: 100%;
}
.checkwrap input[type="radio"]:disabled + label:before {
  background: #ededed;
  border-color: #ccc;
}
.checkwrap input[type="radio"]:disabled + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  width: 12px;
  height: 12px;
  margin-top:-6px;
  border-radius: 100%;
}
.checkwrap input[type="radio"]:disabled:checked + label:after {
  background: #ccc !important;
}
.checkwrap input[type="checkbox"]:focus + label,
.checkwrap input[type="radio"]:focus + label{
  border:1px dotted #000;
}
.checkwrap.left-area input[type="radio"] + label{padding-left:20px;padding-right:10px;font-size:12px;}
.checkwrap.left-area input[type="radio"] + label:before{width:16px;height:16px;margin-top:-8px;}
.checkwrap.left-area input[type="radio"] + label:after{left:4px;width:8px;height:8px;margin-top:-4px;}
@media (max-width:780px){
	.checkwrap.board-line{padding-bottom:10px;}
}
/* button style */
a img{vertical-align: middle;}
.btn,
a.btn,
input.btn,
button.btn{
  display: inline-block;
  font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',sans-serif;
  letter-spacing: -0.1em;
  vertical-align: middle;
  text-align: center;
}
.btn-lg{
  min-width: 100px;
  min-height: 50px;
  padding: 13px 15px;
  font-size: 20px;
}
.btn-md{
  min-width: 60px;
  min-height: 40px;
  padding: 8px 12px;
  font-size: 18px;
}
.btn-white{
  border: 1px #1d96c3 solid;
  background: #fff;
  color: #2199d5;
}
.btn-white:hover{
  border: 1px #1d96c3 solid;
  background: #a6d6ee;
  color: #104c6a;
}
.btn-blue{
  background: #2199d5;
  color: #fff;
}
.btn-blue:hover{
  background: #0e4b61;
  color: #fff;
}
.btn-green{
  background: #1DDB16;
  color: #fff;
}
.btn-green:hover{
  background: #2F9D27;
  color: #fff;
}
.btn-orange{
  background: #FFA500;
  color: #fff;
}
.btn-orange:hover{
  background: #FFD700;
  color: #fff;
}
.btn-gray{
  background: #7f7f7f;
  color: #fff;
}
.btn-gray:hover{
  background: #444;
  color: #fff;
}
.btn-disabled,
.btn-disabled:hover{
  background: #ccc;
  color: #ededed;
}
.btn-tb{
  height: 32px;
  padding: 6px 12px;
  border: 1px #1d96c3 solid;
  background: #2199d5;
  color: #fff;
  font-size: 16px;
}
.btn-tb:hover{
  border: 1px #0e4b61 solid;
  background: #0e4b61;
  color: #fff;
}
.agree-detail-btn {
  display: block;
  height: 26px;
  padding: 6px 15px;
  border-radius: 1em;
  background: #fff;
  cursor: pointer;
  text-align: center;
  color: #333;
}
.agree-detail-btn span.visible-inline-lg{
  color: #333;
}
.agree-detail-btn:hover span.visible-inline-lg{
  color: #1e96c4;
}
.agree-detail-btn.inline-gray {
  display: inline-block;
  background: #6e7476;
  color: #fff;
}
.btn-inline {
  height: 26px;
  padding-right: 12px;
  position: relative;
  display: inline-block;
}
.btn-inline a {
  display: inline-block;
  height: 26px;
  padding: 7px 10px 0 10px;
  border-radius: 50px;
  background: #8d9598;
  color: #fff;
}
.calendar-btn,
.ui-datepicker-trigger {
  display: inline-block;
  margin-left: 10px;
  vertical-align:middle;
}

.sub-btn-wrap {
  width: 100%;
  clear: both;
  margin: 20px 0 30px 0;
  text-align: center;
}
.sub-btn-wrap:after{display: block; content: ""; clear: both;}
.sub-btn-wrap.mobile {
  display: none;
}
.sub-btn-wrap .btn-block{
    display: inline-block;
    width: auto;
    padding: 0 2px;
}
.sub-btn-wrap .btn-block.visible-xs{
    display: none;
}
.sub-btn-wrap .btn-orange,
.sub-btn-wrap .btn-blue,
.sub-btn-wrap .btn-green,
.sub-btn-wrap .btn-black {
  margin-left: 5px;
}
.sub-btn-wrap .btn-orange:first-child,
.sub-btn-wrap .btn-blue:first-child,
.sub-btn-wrap .btn-green:first-child,
.sub-btn-wrap .btn-black:first-child {
  margin-left: 0;
}
.sub-btn-wrap-1 {
  width: 100%;
  clear: both;
  text-align: center;
  margin: 120px 0 30px 0;
}
/*.sub-btn-wrap.bottomFix{
  position:fixed;
  bottom:0;
  width:100%;
  margin:0;
  background-color:#fff;
  padding:10px 0;
}*/
.btn-orange.icon-arrow {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../images/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-arrow a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 37px;
  font-size: 16px;
  background: #ef9100;
}
.btn-orange.icon-arrow:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../images/btn_all_bg.png) 0 0 no-repeat;
}
.btn-orange.icon-map {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../images/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-map a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 37px;
  font-size: 16px;
  background: #ef9100;
}
.btn-orange.icon-map:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../images/btn_all_bg.png) -50px 0 no-repeat;
}
.btn-orange.icon-next {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../images/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-next a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 37px;
  font-size: 16px;
  background: #ef9100;
}
.btn-orange.icon-next:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../images/btn_all_bg.png) -100px 0 no-repeat;
}
.btn-orange.icon-check {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../images/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-check a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 37px;
  font-size: 16px;
  background: #ef9100;
}
.btn-orange.icon-check:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 34.5px;
  height: 36px;
  background: url(../images/btn_all_bg.png) -150px 0 no-repeat;
}
.btn-orange.icon-print {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../images/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-print a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 37px;
  font-size: 16px;
  background: #ef9100;
}
.btn-orange.icon-print:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../images/btn_all_bg.png) -200px 0 no-repeat;
}
.btn-orange.icon-zoom {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../images/btn_normal_right_orangebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-orange.icon-zoom a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 37px;
  font-size: 16px;
  background: #ef9100;
}
.btn-orange.icon-zoom:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../images/btn_all_bg.png) -250px 0 no-repeat;
}
.btn-blue.icon-tel {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../images/btn_normal_right_bluebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-blue.icon-tel a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 37px;
  font-size: 16px;
  background: #1e96c4;
}
.btn-blue.icon-tel:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../images/btn_all_bg.png) 0 -50px no-repeat;
}
.btn-blue.icon-check {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../images/btn_normal_right_bluebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-blue.icon-check a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 37px;
  font-size: 16px;
  background: #1e96c4;
}
.btn-blue.icon-check:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 34.5px;
  height: 36px;
  background: url(../images/btn_all_bg.png) -150px 0 no-repeat;
  background: url(../images/btn_all_bg.png) -50px -50px no-repeat;
}
.btn-blue.icon-calc {
  display: inline-block;
  text-align: center;
  position: relative;
  clear: both;
  background: url(../images/btn_normal_right_bluebg.png) right 0 no-repeat;
  padding-right: 15px;
}
.btn-blue.icon-calc a {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 12px 0 12px;
  height: 36px;
  line-height: 37px;
  font-size: 16px;
  background: #1e96c4;
}
.btn-blue.icon-calc:before {
  content: '';
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 35px;
  height: 36px;
  background: url(../images/btn_all_bg.png) -100px -50px no-repeat;
}
.btn-green-a{
  position: absolute;
  margin-left: 7px;
}

.page404 strong {
  display: block;
  width: 260px;
  margin: 45px auto 15px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}
.page404 p {
  display: block;
  width: 300px;
  margin: 0 auto;
  line-height: 1.5em;
  text-align: center;
}
.page404 .logo {
  background: url(../images/page_not_logo.gif) 0 0 no-repeat;
  width: 153px;
  height: 26px;
  margin: 20px auto 0;
  display: block;
}
.page404 .gohome {
  text-align: center;
  margin-top: 25px;
}
.page404 .gohome img {
  display: inline-block;
}
.ir404 {
  position:relative;
  overflow:hidden;
  width:730px;
  padding-top:50px;
  margin:200px auto 0;
  letter-spacing:-1.1px;
}
.ir404 .left {
  float:left;
  width:250px;

}
.ir404 .left img {
  width:100%;
}
.ir404 .error-content {
  display: block;
  margin-left:250px;
}
.ir404 .error-content h3 {
  display:block;
  font-size:72px;
  color:#249ee6;
  margin-bottom:10px;
}
.ir404 .error-content h3 span {
  font-size:36px;
  color:#1c6bb0;
}
.ir404 .error-content strong {
 font-size:15px;
 font-weight:normal;
 color:#666;
 letter-spacing:-1px;
}

.ir404 .error-content p {
  margin:20px 0 0;
  font-size:21px;
  line-height: 1.45;
  color:#111;
}
.ir404 .err-btn {
  text-align: center;
  margin-top: 50px;
}
.ir404 .err-btn a {
  display:inline-block;
  padding:10px 15px;
  background-color:#1c6bb0;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  border-radius:8px;
}
.ir404 .err-btn a:first-child {
  background-color:#1c99e3;
}
.ir404 .logo {
  position:absolute;
  right:0;
  top:0;
  background: url(../images/page_not_logo.gif) 0 0 no-repeat;
  width: 153px;
  height: 26px;
  display: inline-block;
}

.phone-cerft {
  overflow: hidden;
  padding-top: 30px;
}
.phone-cerft h2 {
  float: left;
  width: 120px;
  margin-top: 6px;
}
.phone-cerft h2 label {
  font-size:inherit;
  color:inherit;
}
.phone-cerft input[type="text"] {
  float: left;
  width: 180px;
  height: 40px !important;
  margin-right: 5px;
}
.phone-cerft-btn {
  float: left;
  width: 125px;
  text-align: center;
}
[class*="transkey"] {
	margin: 0;
	padding: 0;
	border: 0;
}
.transkey_div {background-position: 50%;background-repeat: no-repeat;background-size: 100%;border-radius: 4px;box-shadow: 0 1px 30px rgba(0,0,0,0.3);background-color: white;display:none;position: absolute;z-index: 1000;}
.transkey_layout {border-radius: 4px;display:none;position: absolute;z-index: 1001;}
.transkey_row {position:relative;z-index: 1002;}
.transkey_key {font-size: 1px;color:rgba(0,0,0,0);float:left;position:relative;z-index: 1003;border-radius: 3px;border: 2px solid;border-color: rgba(0,0,0,0);}
.transkey_key a {display: block; width: 100%; height:100%;}
.transkey_key a:active {background-color: rgba(22, 176, 236, 0.63);border-color: #00CED1;}

.transkey_qwerty1_div {width:320px;height:231px;}
.transkey_qwerty1_layout {width:320px;height:231px;background-size:320px 231px;}
.transkey_qwerty1_div {width:320px;height:231px;}
.transkey_qwerty1_row {width: 320px;height: 45px;margin-top: 1px;}
.transkey_qwerty1_key1 {width: 24px;height: 40px;margin-left:2px;}
.transkey_qwerty1_key2 {width: 24px;height: 40px;}
.transkey_qwerty1_del {width: 53px;height: 42px;}
.transkey_qwerty1_sp {width: 84px;height: 42px;}
.transkey_qwerty1_clear {width: 84px;height: 42px;}
.transkey_qwerty1_done {width: 140px;height: 42px;}

.transkey_qwerty2_div {width:360px;height:231px;}
.transkey_qwerty2_layout {width:360px;height:231px;background-size:360px 231px;}
.transkey_qwerty2_row {width: 360px;height: 45px;margin-top: 1px;}
.transkey_qwerty2_row > div {box-sizing : content-box;}
.transkey_qwerty2_key1 {width: 28px;height: 40px;margin-left:1px;}
.transkey_qwerty2_key2 {width: 28px;height: 40px;}
.transkey_qwerty2_del {width: 62px;height: 42px;}
.transkey_qwerty2_sp {width: 94px;height: 42px;}
.transkey_qwerty2_clear {width: 94px;height: 42px;}
.transkey_qwerty2_done {width: 159px;height: 42px;}

.transkey_qwerty3_div {width:600px;height:400px;}
.transkey_qwerty3_layout {width:600px;height:400px;background-size:600px 400px;}
.transkey_qwerty3_row {width: 600px;height: 77px;margin-top: 3px;}
.transkey_qwerty3_key1 {width: 49px;height: 72px;margin-left:2px;}
.transkey_qwerty3_key2 {width: 49px;height: 72px;margin-left:1px;}
.transkey_qwerty3_del {width: 103px;height: 72px;}
.transkey_qwerty3_sp {width: 160px;height: 72px;}
.transkey_qwerty3_clear {width: 160px;height: 72px;}
.transkey_qwerty3_done {width: 266px;height: 72px;}

.transkey_number1_div {width:320px;height:134px;background-size:320px 134px;}
.transkey_number1_row {width: 100%;height: 44px;margin-top: 1px;}
.transkey_number1_key1 {width: 48px;height: 41px;margin-left: 1px;}
.transkey_number1_key2 {width: 48px;height: 41px;margin-left: 1px;}
.transkey_number1_del {width: 75px;height: 39px;}
.transkey_number1_clear {width: 76px;height: 39px;}
.transkey_number1_done {width: 154px;height: 39px;}

.transkey_number2_div {width:360px;height:134px;background-size:360px 134px;}
.transkey_number2_row {width: 100%;height: 44px;margin-top: 1px;}
.transkey_number2_row > div{box-sizing: content-box}
.transkey_number2_key1 {width: 55px;height: 41px;margin-left: 1px;}
.transkey_number2_key2 {width: 55px;height: 41px;}
.transkey_number2_del {width: 85px;height: 39px;}
.transkey_number2_clear {width: 86px;height: 39px;}
.transkey_number2_done {width: 175px;height: 39px;}

.transkey_number3_div {width:600px;height:200px;background-size:600px 200px;}
.transkey_number3_row {width: 600px;height: 66px;margin-top: 1px;}
.transkey_number3_key1 {width: 94px;height: 63px;margin-left: 1px;}
.transkey_number3_key2 {width: 94px;height: 63px;margin-left: 2px;}
.transkey_number3_del {width: 140px;height: 58px;margin: 0px 2px 0px 3px;}
.transkey_number3_clear {width: 140px;height: 58px;position: relative;margin: 0px 2px 0px 3px;}
.transkey_number3_done {width: 290px;height: 58px;position: relative;margin: 0px 2px 0px 3px;}

.tk_btn {text-align:center;border: 1px solid;border-radius: 3px;font: 14px/1.4em "Helvetica Neue",Arial,"Lucida Grande",sans-serif;color: #516f83;border-color: #516f83 !important;text-shadow: 0 1px 0 rgba(255,255,255,0.8);box-shadow: 0 1px 2px rgba(0,0,0,0.3);-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);vertical-align: middle;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-box-align: center;position:relative;font-weight: bold;line-height:22px;display:inline-table;width:69px;height:22px;background-color: #bfbfbf;background-image: -webkit-linear-gradient(top, #f2f2f2, #d9d9d9 3%, #bfbfbf);}
.tk_btn_ {text-align:center;border: 1px solid;border-radius: 3px;font: 14px/1.4em "Helvetica Neue",Arial,"Lucida Grande",sans-serif;color: #fff;border-color: #274807 !important;text-shadow: 0 -1px 0 rgba(0,0,0,0.3);box-shadow: 0 1px 2px rgba(0,0,0,0.3);-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);vertical-align: middle;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-box-align: center;position:relative;font-weight: bold;line-height:22px;display:inline-table;width:69px;height:22px;background-color: #6c9804;background-image: -webkit-linear-gradient(top, #a2e306, #7eb105 3%, #5b7f03);}

.loading-bar{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  z-index: 99999;
}
.loading-bar img{
  width: 100%;
}
.page-loading{
  width: 80%;
  margin: auto;
  margin-top: 60px;
  text-align: center;
}
.page-loading img{
  width: 100%;
  margin-bottom: 30px;
}
.page-loading span{
  display: block;
  font-size: 24px;
  line-height: 1.4em;
}
.page-loading span:last-child{
  font-size: 18px;
}

.modal-contents{
	display: none;
	min-width: 450px;
	background-color: #fff;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
	box-sizing: border-box;
	color: #555;
}
.popup1 {
	min-height: 250px;
}
.pop-title{
	height: 60px;
	padding: 15px;
	background: #1e96c4 ;
}
.pop-title h1{
	color: #fff;
	font-size: 24px;
	font-weight: normal;
}
.pop-container{
	overflow: hidden;
	padding: 30px;
}
.pop-btn-close{
	position:absolute;
	top:10px;
	right:5px;
}
.pop-close{
	display: block;
	width: 20px;
	height: 20px;
	color: #fff;
	font-size:16px;
	font-weight:bold;
	text-align: center;
}
.pop-close:hover {
	color: #f5f5f5;
}
.popup-close-check {
  text-align: right;
  margin-top: 15px;
  overflow: hidden;
}
.sub-list li {
  margin-top: 4px;
  line-height: 1.5em;
}
.sub-list li:first-child {
  margin-top: 0;
}
.sub-list-black li {
  background: url(../images/sitemap_bul.gif) 0 7px no-repeat;
  background-position: 0 5px\0!important;
  padding-left: 9px;
  margin-top: 4px;
  line-height: 1.5em;
}
.sub-list-black li:first-child {
  margin-top: 0;
}
/* processing bar */
#preprocessingY p,
#processingY p {
  margin-top:10px;
  font-weight:bold;
  color:#006699;
  line-height:1.5;
}
/* 보안프로그램 설치 안내 */
.etc-security {margin-top: 30px;}
.etc-security h2 {margin-bottom: 15px;}
.etc-security .sub-table {margin-top: 30px;}
.etc-security .sub-table img {display: inline-block;}
.etc-security .sub-table td.align-left{text-align: left;}

@media (max-width: 480px){
	.phone-cerft {
		margin-left: 0;
		padding-top: 0;
	}
	.phone-cerft input {
		float: none;
		display: block;
		width: 100%;
	}
	.phone-cerft-btn {
		width: 100%;
		border-top: 1px #dcdcdc solid;
		margin-top: 20px;
		padding-top: 20px;
	}
}

@media (min-width:781px){
	input::-webkit-input-placeholder{
		opacity: 0;
	}
	input:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
		opacity: 0;
	}
	input::-moz-placeholder{ /* Mozilla Firefox 19+ */
		opacity: 0;
	}
	input:-ms-input-placeholder{ /* Internet Explorer 10+ */
		color: transparent;
	}
}

@media (max-width: 780px){
	.modal-contents {
		width: 90%;
		min-width: 90%;
	}
	.pop-title{
		height: 40px;
		padding: 10px;
	}
	.pop-title h1{
		font-size: 18px;
		font-weight: normal;
	}
	#processingY img,
	#preprocessingY img{width: 100%;}

	.visible-xs{display: block !important}
	.visible-inline-xs{display: inline !important}
	.visible-lg,
	.visible-inline-lg,
	.visible-inb-lg,
	.visible-tb{display: none !important}
	.visible-tb-xs{display: table !important}
	.board-line{
		border-bottom: 1px #dcdcdc solid;
	}

	input,
	input[type="text"],
	input[type="password"],
	input[type="tel"],
	select,
	label{
		font-size: 14px;
		letter-spacing: -0.1em;
	}
	input[type="text"],
	input[type="password"],
	input[type="tel"]{
		height: 40px;
	}
	.checkwrap input[type="checkbox"] {
	  width: 24px;
	  height: 24px;
	  clip:auto;
	  z-index:-1;
	}
	.checkwrap input[type="radio"] {
	  width: 16px;
	  height: 16px;
	  clip:auto;
	  z-index:-1;
	}
	.miw-100{
		display: block;
		width: 100% !important;
	}
	.miw-post-100{
		width: calc(100% - 132px) !important;
		width: -webkit-calc(100% - 132px) !important
	}
	.miw-id-100{
		width: calc(100% - 96px) !important;
		width: -webkit-calc(100% - 96px) !important
	}
	.miw-search-100{
		width: 75% !important;
		width: calc(100% - 65px) !important;
		width: -webkit-calc(100% - 65px) !important
	}
	.miw-checkwrap-50{
		display: block;
		float: left;
		width: 50% !important;
		margin: 5px 0;
	}
	.miw-checkwrap-100{
		display: block;
		width: 100% !important;
		margin-bottom: 10px;
	}
	.miw-dash-50{
		width: calc(50% - 9px) !important;
		width: -webkit-calc(50% - 9px) !important
	}
	.miw-text-100{
		width: 85% !important;
		width: calc(100% - 39px) !important;
		width: -webkit-calc(100% - 39px) !important;
	}
	.miw-time-50{
		width: calc(50% - 28px) !important;
		width: -webkit-calc(50% - 28px) !important;
	}
	.miw-btn-md{
		width: 77% !important;
		width: calc(100% - 64px) !important;
		width: -webkit-calc(100% - 64px) !important;
	}

	._select {
		height: 40px;
		margin-right: 0 !important;
		background-size: 40px;
	}
	._select label {
	  top: 12px;
	}
	._select label.double {
		top: 5px;
		width: 80%;
	}
	._select.float-r {
		float: right;
	}
	._select select {
		height: 40px;
	}

	.btn-tb{
		min-width: 60px;
		height: 34px;
		padding-top: 8px;
		background: #fff;
		color: #2199d5;
	}
	.btn-tb:hover{
		background: #a6d6ee;
		color: #104c6a;
	}
	.sub-btn-wrap.mobile {
		display: block;
	}
	.sub-btn-wrap .btn-block{
		float: left;
		padding: 0 4px;
	}
	.sub-btn-wrap.mobile .btn{
		font-size: 14px;
	}
	.sub-btn-wrap.btn-col-2 .btn-block{
		width: 50%;
		margin-bottom: 6px;
	}
	.sub-btn-wrap.btn-col-3 .btn-block{
		width: 33.33333%;
		float: left;
		padding: 0 4px;
	}
	.sub-btn-wrap.btn-col-3 .btn{
		padding: 10px 12px;
	}
	.sub-btn-wrap .btn-block .btn{
		display: block;
		width: 100%;
		font-size: 17px;
	}
	.sub-btn-wrap .btn-block.visible-xs{
		display: block;
	}
	.sub-btn-wrap .btn-white:hover {/* hover reset */
		border: 1px #1d96c3 solid;
		background: #fff;
		color: #2199d5;
	}
	input[type="text"], input[type="password"], input[type="tel"] {height:34px;}
	input, input[type="text"], input[type="password"], input[type="tel"], select, label {font-size:12px;}
	._select {height:32px;background-size:30px;}
	._select select {height:100%;padding:0 6px;}
	._select label {top:10px;font-size:12px;}
	._select select option {font-size:12px;}
}